<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" /> -->
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta name="apple-mobile-web-app-title" content="爱抢购">
	<meta name="ipm" content="h5.login">
	<title>{% block title %}{% endblock %} - 爱抢购</title>
	<link rel="stylesheet" type="text/css" href="/static/modules/??normalize/normalize.css,common/style.css">
</head>
<body>
<div id="content">
	{% block content %}
	{% endblock %}
</div>

<!--<script src="/static/??modules/seajs/sea.js,modules/seajs/seajs-combo.js,modules/seajs/seajs-patch.js,modules/zepto/zepto.js,modules/zepto/zepto-fx.js,modules/zepto/zepto-fx-method.js"></script>-->
<script src="/static/??modules/seajs/sea.js,modules/seajs/seajs-combo.js,modules/seajs/seajs-patch.js,modules/zepto/zepto.js,modules/zepto/zepto-fx.js,modules/zepto/zepto-fx-method.js"></script>
<!--
TODO: seajs 的全局配置，使用工具来生成
{{globalSeajsConfig}}
-->
<script>
	seajs.config({
		base: '/static',
		alias: {
			'nunjucks': 'modules/nunjucks/nunjucks-slim',
			'inherit': 'modules/inherit/inherit',
			'emitter': 'modules/emitter/emitter',
			'hammer': 'modules/hammer/hammer',

			'util': 'modules/util/util',
			'nav': 'widgets/nav/nav'
		}
	});
	{% block mainScript %}
	{% endblock %}
//	seajs.use('pages/log/{{version}}/log');
</script>
</body>
</html>